application:
    name: "APP_NAME"
    version: "APP_VERSION"
    environment: "APP_ENVIRONMENT"
server:
    port: 0
database:
    host: ""
    name: ""
    username: ""
    password: ""
    port: 0
openapi:
    title: ""
    description: ""
    host: ""
    basePath: ""
    version: ""